@charset 'UTF-8';

html {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

// colors
$background_color: #a3a1a1;
$second_background_color: #e3dede;
$third_background_color: #a9a9a9;
$border_color: #8b8687;
$important_element : #818187;
$text_color:#333030;



// radius
$radius__type1: 10px;
$radius__type2: 5px;
$radius__type3: 5px;

// fonts
$font: 'Raleway', sans-serif;
$font_bold: 700;
$font_regular: 400;
$font_light: 200;

b {
    font-weight: $font_bold;
}

i {
    font-style: italic;
}

// selection
::-moz-selection,
::selection {
    color: #ffffff;
    text-shadow: none;
    background: #25303b;
}

// general
html {
    font-size: 100%;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: scrollbar; // http://stackoverflow.com/questions/16831751/ie10-stop-scroll-bar-from-appearing-over-content-and-disappearing
}
body {
    background: $background_color;
    .container{
        background: $second_background_color;
        header{
            border-bottom : 1px $border_color solid;
            h1 {
                font-size: 4rem;
                color: black;
                font-weight:400;
                max-width: 1015px;
                height: auto;
                text-align: center;
                margin: 10px auto;
                font-family: Raleway,Tahoma,"Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif;
                a {
                    color: black;
                }
                @include mobile {
                    font-size: 3rem;
                    line-height: inherit;
                }

            }
        }
        main{
            display: block;
            margin: 5px auto 10px auto;
            padding: 0px 20px 10px 20px;
            h2 {
                font-size: 3rem;
                line-height: inherit;
                font-weight: 200;
                margin: 0px 0px 20px 0px;
                @include mobile {
                    font-size: 2rem;
                }
            }
            p{
                margin: 5px auto;
            }
        }

        .hide{
            display: none;
        }
    }
}

