header{
  .header__menu_principal{
    ul{
      li{
        list-style: none;
        margin: 0;
        padding: 0;
        a{
          display: block;
          border-top: 1px solid grey;
          border-left: 1px solid grey;
          border-right: 1px solid grey;
          width: 100%;
          padding: 10px 0px;
          text-align: center;
          text-decoration: none;
          color:black;
          background: #a9a9a9;
          &:hover{
            background: #818187;
          }
        }
      }
    }
  }
}