/* Bootstrap */
.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  transition: transform 0.6s ease;
  backface-visibility: hidden;
  perspective: 1000px; }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0; }

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(0); }
  @supports (transform-style: preserve-3d) {
    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
      transform: translate3d(0, 0, 0); } }

.carousel-item-next,
.active.carousel-item-right {
  transform: translateX(100%); }
  @supports (transform-style: preserve-3d) {
    .carousel-item-next,
    .active.carousel-item-right {
      transform: translate3d(100%, 0, 0); } }

.carousel-item-prev,
.active.carousel-item-left {
  transform: translateX(-100%); }
  @supports (transform-style: preserve-3d) {
    .carousel-item-prev,
    .active.carousel-item-left {
      transform: translate3d(-100%, 0, 0); } }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: white;
  text-align: center;
  opacity: 0.5; }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: white;
    text-decoration: none;
    outline: 0;
    opacity: .9; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%; }

.carousel-control-prev-icon {
  background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23"); }

.carousel-control-next-icon {
  background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23"); }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none; }
  .carousel-indicators li {
    position: relative;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.5); }
    .carousel-indicators li::before {
      position: absolute;
      top: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: ""; }
    .carousel-indicators li::after {
      position: absolute;
      bottom: -10px;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 10px;
      content: ""; }
  .carousel-indicators .active {
    background-color: white; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center; }

/* Tools */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.no-padding {
  padding: 0; }

.no-padding-right {
  padding-right: 0; }

.no-padding-left {
  padding-left: 0; }

.no-margin {
  margin: 0; }

.no-margin-right {
  margin-right: 0; }

.no-margin-left {
  margin-left: 0; }

.clearfix {
  overflow: auto;
  zoom: 1; }

.clear {
  clear: both; }

.noscroll {
  overflow: hidden; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

#acf_blocs .alignleft img {
  padding: 10px 10px 10px 0; }
#acf_blocs .alignright img {
  padding: 10px 0 10px 10px; }
#acf_blocs .alignright .wp-caption-text {
  padding-left: 10px; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  margin: 0 auto; }

.hide {
  display: none; }

/* Base */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

*,
*:before,
*:after {
  box-sizing: inherit; }

b {
  font-weight: 700; }

i {
  font-style: italic; }

::-moz-selection,
::selection {
  color: #ffffff;
  text-shadow: none;
  background: #25303b; }

html {
  font-size: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar; }

body {
  background: #a3a1a1; }
  body .container {
    background: #e3dede; }
    body .container header {
      border-bottom: 1px #8b8687 solid; }
      body .container header h1 {
        font-size: 4rem;
        color: black;
        font-weight: 400;
        max-width: 1015px;
        height: auto;
        text-align: center;
        margin: 10px auto;
        font-family: Raleway,Tahoma,"Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif; }
        body .container header h1 a {
          color: black; }
        @media (max-width: 576px) {
          body .container header h1 {
            font-size: 3rem;
            line-height: inherit; } }
    body .container main {
      display: block;
      margin: 5px auto 10px auto;
      padding: 0px 20px 10px 20px; }
      body .container main h2 {
        font-size: 3rem;
        line-height: inherit;
        font-weight: 200;
        margin: 0px 0px 20px 0px; }
        @media (max-width: 576px) {
          body .container main h2 {
            font-size: 2rem; } }
      body .container main p {
        margin: 5px auto; }
    body .container .hide {
      display: none; }

/* Modules */
.footer {
  display: block;
  text-align: center; }

header .header__menu_principal ul li {
  list-style: none;
  margin: 0;
  padding: 0; }
  header .header__menu_principal ul li a {
    display: block;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    background: #a9a9a9; }
    header .header__menu_principal ul li a:hover {
      background: #818187; }

/* layouts */
.projectPage .liste, .projectList .liste {
  margin: 10px 0px; }
.projectPage .projectContainer, .projectList .projectContainer {
  box-shadow: #0b2e13; }
  .projectPage .projectContainer .projectHeader div, .projectList .projectContainer .projectHeader div {
    display: inline;
    padding: 10px 20px;
    text-align: center;
    background: #a9a9a9;
    border: 1px solid grey; }
    .projectPage .projectContainer .projectHeader div:hover, .projectList .projectContainer .projectHeader div:hover {
      background: #818187;
      cursor: pointer; }
    .projectPage .projectContainer .projectHeader div.current, .projectList .projectContainer .projectHeader div.current {
      background: #818187;
      font-weight: bold; }
    .projectPage .projectContainer .projectHeader div.firstLabel, .projectList .projectContainer .projectHeader div.firstLabel {
      border-top-left-radius: 10px; }
    .projectPage .projectContainer .projectHeader div.lastLabel, .projectList .projectContainer .projectHeader div.lastLabel {
      border-top-right-radius: 10px; }
  .projectPage .projectContainer .projectContent, .projectList .projectContainer .projectContent {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    color: black;
    background: #a9a9a9; }
    .projectPage .projectContainer .projectContent ul, .projectList .projectContainer .projectContent ul {
      padding: 10px 20px; }
      .projectPage .projectContainer .projectContent ul li, .projectList .projectContainer .projectContent ul li {
        list-style: none;
        margin: 0px 0px 5px 0px; }
        .projectPage .projectContainer .projectContent ul li ul, .projectList .projectContainer .projectContent ul li ul {
          padding: 10px 20px; }
          .projectPage .projectContainer .projectContent ul li ul li, .projectList .projectContainer .projectContent ul li ul li {
            list-style: circle; }

/*
.page {
    .page__header {
        //padding: 50px 0;
        padding: 10px 0;
        text-align: center;
        margin-top:50px;
        margin-bottom: 50px;
        background: $dark_gray;
        @include mobile {
            padding: 30px 0;
        }
        h1 {
            color: $white;
            //color: black;
            padding: 0 80px;
        }
        h2{
            margin:0;
        }
        .page__header--sous-titre {
            font-size: 3.5rem;
            font-weight: $font_light;
            color: $white;
            a {
                color: white;
            }
            span {
                background: $dark_gray;
                padding: 10px 20px;
                border-radius: $radius__type1;
                @include mobile {
                    background: none;
                    padding: 0;
                    border-radius: 0;
                }
            }
        }
    }
    .page__container {
        //padding: 80px 0 100px;
        @include mobile {
            padding: 20px 0;
        }
    }
}


 */

/*# sourceMappingURL=main.css.map */
