h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
    
}
.wrap{
    .bloc-tri-faqs{
        .form-bloc-tri-faqs{
            .sous_rubrique{
                
                h3{
                    margin-left: 40px;
                }
                ul{
                    margin-left:  40px;
                    li.ui-sortable-handle{
                        cursor: pointer;
                    }

                }
        
            }
        }
        
    }

}