.projectPage, .projectList{
    .presentation{

    }
    .liste{
         margin: 10px 0px;
    }
    .projectContainer{
        box-shadow: #0b2e13;
        .projectHeader{
            div{
                display: inline;
                padding: 10px 20px;
                text-align: center;
                //margin: 0px 3px 5px 3px;
                background: $third_background_color;
                border: 1px solid grey;
                &:hover{
                    background: $important_element;
                    cursor: pointer;
                }
                &.current{
                     background: $important_element;
                     font-weight: bold;
                 }
                &.firstLabel{
                    border-top-left-radius: 10px;
                }
                &.lastLabel{
                    border-top-right-radius: 10px;
                }
            }
        }
        .projectContent{
            border-bottom-left-radius : 10px;
            border-bottom-right-radius : 10px;
            border-bottom: 1px solid grey;
            border-right: 1px solid grey;
            border-left: 1px solid grey;
            color: black;
            background: $third_background_color;
            ul{
                padding: 10px 20px;
                li{
                    list-style: none;
                    margin: 0px 0px 5px 0px;
                    ul{
                        padding: 10px 20px;
                        li{
                            list-style: circle;
                        }
                    }
                }
            }
        }
    }
}

/*
.page {
    .page__header {
        //padding: 50px 0;
        padding: 10px 0;
        text-align: center;
        margin-top:50px;
        margin-bottom: 50px;
        background: $dark_gray;
        @include mobile {
            padding: 30px 0;
        }
        h1 {
            color: $white;
            //color: black;
            padding: 0 80px;
        }
        h2{
            margin:0;
        }
        .page__header--sous-titre {
            font-size: 3.5rem;
            font-weight: $font_light;
            color: $white;
            a {
                color: white;
            }
            span {
                background: $dark_gray;
                padding: 10px 20px;
                border-radius: $radius__type1;
                @include mobile {
                    background: none;
                    padding: 0;
                    border-radius: 0;
                }
            }
        }
    }
    .page__container {
        //padding: 80px 0 100px;
        @include mobile {
            padding: 20px 0;
        }
    }
}


 */