@mixin effetHover() {
  &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      transition: width .3s;
      background: #fff;
      position: relative;
      bottom: -5px;
  }
  &:hover {
      &:after {
          width: 100%;
      }
  }
}


// mixins responsive
$desktop-width: 1200px;
$tablet-width: 1000px;
$tablet-portrait-width: 768px;
$tablet-small-width:600px;
$mobile-width: 576px;
$small-mobile-width: 320px;

@mixin tablet-large {
    @media (max-width: #{$desktop-width}) {
      @content;
    }
  }

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (max-width: #{$tablet-portrait-width}) {
    @content;
  }
}
@mixin tablet-small {
  @media (max-width: #{$tablet-small-width}) {
    
  }
  
}
@mixin mobile {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
}

@mixin small-mobile {
    @media (max-width: #{$small-mobile-width}) {
      @content;
    }
}