html {
	box-sizing: border-box;
	font-size: 62.5%;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: scrollbar; // http://stackoverflow.com/questions/16831751/ie10-stop-scroll-bar-from-appearing-over-content-and-disappearing
}
*,
*:before,
*:after
{
	box-sizing: inherit;
}
.no-padding {
	padding: 0;
}
.no-padding-right {
	padding-right: 0;
}
.no-padding-left {
	padding-left: 0;
}
.no-margin {
	margin: 0;
}
.no-margin-right {
	margin-right: 0;
}
.no-margin-left {
	margin-left: 0;
}
.clearfix {
	overflow: auto;
	zoom: 1;
}
.clear {
	clear: both;
}
.noscroll {
	overflow: hidden;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
#acf_blocs {
	.alignleft {
		img {
			padding: 10px 10px 10px 0;
		}
	}
	.alignright {
		img {
			padding: 10px 0 10px 10px;
		}
		.wp-caption-text {
			padding-left: 10px;
		}
	}
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	margin: 0 auto;
}
.hide {
	display: none;
}